<div class="Restaurant_View">
  <div class="Store_Info_Image_Section" style=" background: url(assets/Images/demo/photo01.jpg) no-repeat scroll 0 0 / cover;">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row">
        <!-- Column Start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="Store_Info_Detail">
            <div class="Store_Info_Detail_Left">
              <div class="Img_Section">
                <figure>
                  <img src="assets/Images/demo/logo01.png" alt="">
                </figure>
              </div>
              <div class="Text_Section">
                <div class="Stars_Group">
                  <i class="material-icons colored">star</i>
                  <i class="material-icons colored">star</i>
                  <i class="material-icons colored">star</i>
                  <i class="material-icons colored">star_half</i>
                  <i class="material-icons">star_border</i>
                  <span class="Reviews_Count">(5 Reviews)</span>
                </div>
                <h3 class="Title">Restaurant Demo</h3>
                <div class="Special_Items">
                  <span>Burgers, </span>
                  <span>Pizzas, </span>
                  <span>Sauces, </span>
                  <span>Juices ...</span>
                </div>
              </div>
            </div>
            <div class="Store_Info_Detail_Right">
              <div class="Time_Info">
                <p> 
                  <i class="material-icons">query_builder</i>
                  <span> Order Time : 11:00 am - 04:00 pm </span>
                </p>
                <p> 
                  <i class="material-icons">motorcycle</i>
                  <span> Pickup Time : 05.30 pm </span>
                </p>
              </div>
              <div class="Working_Time">
                  <div class="Today_Timing">
                    <p>Today </p> : &nbsp; 11:00 am - 11:00 pm
                    <i class="material-icons">keyboard_arrow_down</i>
                  </div>
                  <ul class="Daily_Timing">
                      <li>
                        <div><p>MONDAY </p> : &nbsp; 11:00 am - 11:00 pm</div>
                      </li>
                      <li>
                        <div><p>TUESDAY</p> : &nbsp; 11:00 am - 11:00 pm </div>
                      </li>
                      <li>
                        <div><p>WEDNESDAY</p> : &nbsp; 11:00 am - 11:00 pm </div>
                      </li>
                      <li>
                        <div><p>THURSDAY</p> : &nbsp; 11:00 am - 11:00 pm </div>
                      </li>
                      <li>
                        <div><p>FRIDAY</p> : &nbsp; 11:00 am - 11:00 pm </div>
                      </li>
                      <li>
                        <div><p>SATURDAY</p> : &nbsp; 11:00 am - 11:00 pm </div>
                      </li>
                      <li>
                        <div><p>SUNDAY </p> : &nbsp; Closed </div>
                      </li>
                    </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Column End -->
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>
  
  <div class="container Store_Main_Section">
    <div class="row">
      <div class="col-sm-2">
        <div class="Category_list">
          <p class="Title"> <i class="material-icons">list_alt</i> Categories </p>
          <ul class="List">
            <li> Pizzas </li>
            <li> Calzone </li>
            <li> Garlic Bread </li>
            <li> Kebabs </li>
            <li> Burgers </li>
            <li> Specials </li>
            <li> Wraps </li>
            <li> Chicken </li>
            <li> Paninis </li>
            <li> Jacket Potatoes </li>
            <li> Starters </li>
            <li> Traditional Curries </li>
            <li> Biryani Dishes </li>
            <li> Vegetarian Dishes </li>
            <li> Rice </li>
            <li> Bread </li>
            <li> Sauces </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="Store_Full_Details">
          <div class="Tabs">
            <div class="active"> <p> <i class="material-icons">room_service</i> Menu </p>  </div>
            <div> <p> <i class="material-icons">rate_review</i> Reviews </p>  </div>
            <div> <p> <i class="material-icons">info</i> Restaurant Info </p>  </div>
            <div> <p> <i class="material-icons">history</i> Orders History </p>  </div>
          </div>
          <div class="Tab_Contents">
            <div class="Tab_Contents_1">
                <div class="Category">
                  <div class="Category_Title">
                    <h5>Pizzas</h5>
                    <span>Choose your cut: Triangular, square, fingers or Un cut on any size pizza.</span>
                  </div>
                  <ul class="Category_List">
                    <li class="Category_Item">
                      <div class="Image_Section">
                        <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/blogs-food-bakery-05-150x150.jpg" alt="">
                      </div>
                      <div class="Item_Info">
                        <h6 class="Item_Name"> Margherita 9" Deep Pan</h6>
                        <p class="Item_Details">Cheese, tomatoes, shrimps, garlic, mussels, cockles, olives and italian herbs</p>
                      </div>
                      <div class="Price_Info">
                        <span class="Price"> $4.50 </span>
                        <i class="material-icons"> add_circle_outline </i>
                      </div>
                    </li>
                    <li class="Category_Item">
                      <div class="Image_Section">
                        <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/blogs-food-bakery-05-150x150.jpg" alt="">
                      </div>
                      <div class="Item_Info">
                        <h6 class="Item_Name"> Margherita 9" Deep Pan</h6>
                        <p class="Item_Details">Cheese, tomatoes, shrimps, garlic, mussels, cockles, olives and italian herbs</p>
                      </div>
                      <div class="Price_Info">
                        <span class="Price"> $4.50 </span>
                        <i class="material-icons"> add_circle_outline </i>
                      </div>
                    </li>
                    <li class="Category_Item">
                      <div class="Image_Section">
                        <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/blogs-food-bakery-05-150x150.jpg" alt="">
                      </div>
                      <div class="Item_Info">
                        <h6 class="Item_Name"> Margherita 9" Deep Pan</h6>
                        <p class="Item_Details">Cheese, tomatoes, shrimps, garlic, mussels, cockles, olives and italian herbs</p>
                      </div>
                      <div class="Price_Info">
                        <span class="Price"> $4.50 </span>
                        <i class="material-icons"> add_circle_outline </i>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
  
      </div>
    </div>
  </div>
</div>
