
ul{
    padding: 0px;
    list-style-type: none;
}
.Restaurant_View{
    background-color: #ebedf3;
    width: 100%;
    height: 100%;
}
.Store_Info_Image_Section{
    height: 300px;
    width: 100%;
    position: relative;
    padding: 80px 0px;
}
.Store_Info_Image_Section::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.60);
}

.Store_Info_Detail{
    display: table;
    width: 100%;
}


/* ----------------------------- */
.Store_Info_Detail_Left{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.Store_Info_Detail_Left .Img_Section{
    display: block;
    width: 90px;
    height: 100px;
    float: left;
}
.Store_Info_Detail_Left .Img_Section figure{
    outline: none;
    box-shadow: none;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: #fff;
    padding: 1px;
}
.Store_Info_Detail_Left .Img_Section figure img{
    width: 100%;
    border-radius: 5px;
}

.Store_Info_Detail_Left .Text_Section{
    display: block;
    padding: 0 0 0 18px;
    float: left;
    width: calc(100% - 90px);
}
.Store_Info_Detail_Left .Text_Section .Stars_Group{
    display: flex;
}
.Store_Info_Detail_Left .Text_Section .Stars_Group i{
    color: #999999;
    font-size: 21px;
}
.Store_Info_Detail_Left .Text_Section .Stars_Group i.colored{
    color: #ff981a;
}
.Store_Info_Detail_Left .Text_Section .Stars_Group .Reviews_Count{
    margin-left: 10px;
    color: #ffffff;
    font-size: 14px;
    opacity: 0.7;
}
.Store_Info_Detail_Left .Text_Section .Title{
    color: #ffffff;
}
.Store_Info_Detail_Left .Text_Section .Special_Items{
    color: #ffffff;
    opacity: 0.7;
}
.Store_Info_Detail_Left .Text_Section .Special_Items span{
    margin-left: 2px
}

/* ----------------------------- */
.Store_Info_Detail_Right{
    display: table-cell;
    vertical-align: middle;
    min-width: 300px;
}
.Store_Info_Detail_Right .Time_Info p{
    display: flex;
    color: #ffffff;
    margin-bottom: 5px;
}
.Store_Info_Detail_Right .Time_Info p i{
    color: #ff981a;
    margin-right: 5px;
}
.Store_Info_Detail_Right .Working_Time{
    position: relative;
    margin-top: 20px;
}
.Store_Info_Detail_Right  .Today_Timing{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 0px;
}
.Store_Info_Detail_Right  .Today_Timing p{
    float: left;
    color: #ff981a;
    margin-right: 10px;
    margin-bottom: 0px;
    width: 75px;
}
.Store_Info_Detail_Right .Today_Timing i{
    float: right;
}
.Store_Info_Detail_Right ul.Daily_Timing{
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    margin: 0px;
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px;
}
.Store_Info_Detail_Right .Working_Time:hover > ul.Daily_Timing{
    max-height: 500px !important;
    transition: max-height 0.75s ease-in !important;
}
.Store_Info_Detail_Right .Daily_Timing li {
    height: 35px;
    border-top: 1px solid #e6e6e6;
}
.Store_Info_Detail_Right .Daily_Timing li {
    height: 35px;
    border-top: 1px solid #e6e6e6;
}
.Store_Info_Detail_Right .Daily_Timing li > div{
    margin: 0px;
    padding: 5px 10px;
    color: #999999;
    line-height: 25px;
    font-size: 14px;
}
.Store_Info_Detail_Right .Daily_Timing li > div > p{
    display: inline-flex;
    width: 85px;
    margin-bottom: 0px;
    font-size: 13px;
}
















.Store_Main_Section{
    margin-top: 30px;
}
.Store_Main_Section .Category_list .Title{
    margin: 0px;
    display: flex;
    padding: 5px 0px;
    color: #484848;
    font-weight: 700;
    letter-spacing: 0.4px;
    border-bottom: 2px dashed #8a8a8a;
    margin-bottom: 15px;
}
.Store_Main_Section .Category_list .Title i{
    margin-right: 7px;
    color: #484848;
}
ul.List {
    list-style-type: none;
    padding: 0px;
}
ul.List li {
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    font-size: 14px;
    color: #888888;
}
ul.List li:hover {
    color: #ff981b;
}


.Store_Full_Details > .Tabs {
    display: inline-flex;
    width: 100%;
}
.Store_Full_Details > .Tabs > div {
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.Store_Full_Details > .Tabs > div.active {
    background-color: #ffffff;
    box-shadow: 0 -3px 4px -2px rgba(0, 0, 0, 0.1);
}
.Store_Full_Details > .Tabs > div > p {
    display: inline-flex;
    margin: 0px;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 700;
    color: #484848;
    letter-spacing: 0.5px;
}
.Store_Full_Details > .Tabs > div > p > i{
    margin-right: 5px;
    color: #ff981a;
    font-size: 21px;
}


.Tab_Contents{
    width: 100%;
    background-color: #ffffff;
}

.Tab_Contents_1{
    position: relative;
}
.Tab_Contents_1 .Search_Food .search_input{
    position: relative;
    width: 100%;
    padding: 0px 20px;
}
.Tab_Contents_1 .Search_Food .search_input input{
    border: none;
    border-bottom: 1px solid #89898975;
    width: 100%;
    padding: 3px;
    color: #484848;
    font-weight: 600;
    outline: none !important;
}
.Tab_Contents_1 .Search_Food .search_input input:-ms-input-placeholder{
    font-weight: 400;
    color: #ababab;
}
.Tab_Contents_1 .Search_Food .search_input ::-webkit-input-placeholder{
    font-weight: 400;
    color: #ababab;
}
.Tab_Contents_1 .Search_Food .search_input i{
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: #484848;
    bottom: 0px;
}
.Tab_Contents_1 .Category .Category_Title{
    padding: 10px 20px;
    margin-bottom: 15px;
}
.Tab_Contents_1 .Category .Category_Title h5{
    color: #ff981b;
    margin-bottom: 0px;
}
.Tab_Contents_1 .Category .Category_Title span{
    font-size: 13px;
    color: #999999;
    font-weight: 400;
}
.Tab_Contents_1 .Category .Category_List{
    list-style-type: none;
    padding: 0px 20px;
}
.Tab_Contents_1 .Category .Category_List .Category_Item{
    display: inline-flex;
    border-bottom: 1px solid #ebedf3;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.Tab_Contents_1 .Category .Category_List .Image_Section{
    display: inline-block;
    width: 65px;
    height: 65px;
    vertical-align: top;
}
.Tab_Contents_1 .Category .Category_List .Image_Section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Tab_Contents_1 .Category .Category_List .Item_Info{
    padding: 0px 10px;
    width: calc(100% - 170px);
}
.Tab_Contents_1 .Category .Category_List .Item_Info .Item_Name{
    font-weight: 700;
    margin: 0px;
    color: #484848;
}
.Tab_Contents_1 .Category .Category_List .Item_Info .Item_Details{
    margin: 0px;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0.4px;
}
.Tab_Contents_1 .Category .Category_List .Price_Info{
    display: inline-flex;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 10px;
    height: 40px;
}
.Tab_Contents_1 .Category .Category_List .Price_Info .Price{
    font-size: 16px;
}
.Tab_Contents_1 .Category .Category_List .Price_Info i{
    margin-left: 30px;
    color: #ff981b;
    cursor: pointer;
}










.Tab_Contents_2 {
    background-color: #ffffff;
    padding: 20px;
}
.Tab_Contents_2 .Ratings{
    background-color: #eaeaeaad;
    padding: 5px 10px;
}
.Tab_Contents_2 .Ratings .Overall_Ratings h5{
    font-size: 18px;
    color: #484848;
}
.Tab_Contents_2 .Ratings .Overall_Ratings .Rating_Div{
    display: inline-flex;
}
.Tab_Contents_2 .Ratings .Overall_Ratings .Rating_Div .Rating_Count{
    font-size: 17px;
    margin-right: 10px;
    font-weight: 700;
    color: #484848;
}
.Tab_Contents_2 .Ratings .Overall_Ratings .Rating_Div .Stars_Group_1{
    margin-top: 2px;
    margin-right: 10px;
}
.Tab_Contents_2 .Ratings .Overall_Ratings .Rating_Div .Stars_Group_1 i{
    color: #888888;
    font-size: 21px;
}
.Tab_Contents_2 .Ratings .Overall_Ratings .Rating_Div .Stars_Group_1 i.colored{
    color: #ff981b;
}
.Tab_Contents_2 .Ratings .Overall_Ratings .Rating_Div .Rating_Users_Count{
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #999999ad;
}

hr.Hr_Style_1{
    margin: 10px 0px;
}

.Ratings_Summary {
    position: relative;
}
.Ratings_Summary h5 {
    font-size: 18px;
    color: #484848;
}
.Ratings_Summary .Ratings_Summary_List {
    display: inline-flex;
    width: 100%;
}
.Ratings_Summary .Ratings_Summary_Item {
    width: 33.3%;
    border-right: 1px solid #9999994f;
    text-align: center;
}
.Ratings_Summary .Ratings_Summary_Item h6 {
    color: #666666;
}
.Ratings_Summary .Ratings_Summary_Item .Ratings_Summary_Item_Stars {
    display: inline-flex;
    margin-left: 5px;
}
.Ratings_Summary .Ratings_Summary_Item .Ratings_Summary_Item_Stars .Rating_Count {
    font-weight: 600;
    color: #484848;
    margin-right: 4px;
}
.Ratings_Summary .Ratings_Summary_Item .Ratings_Summary_Item_Stars .Stars_Group_2 {
    width: 100%;
    position: relative;
}
.Ratings_Summary .Ratings_Summary_Item .Ratings_Summary_Item_Stars .Stars_Group_2  i {
    color: #888888;
    font-size: 21px;
}
.Ratings_Summary .Ratings_Summary_Item .Ratings_Summary_Item_Stars .Stars_Group_2  i.colored {
    color: #ff981b;
}



.Reviews .Customer_Reviews {
    margin-top: 20px;
}

.Reviews .Customer_Reviews .Customer_Reviews_Header {
    display: table;
    width: 100%;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header h5 {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: #484848;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div {
    vertical-align: middle;
    display: table-cell;
    width: 150px;
    float: right;
    position: relative;
    cursor: pointer;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div p {
    margin: 0px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    padding: 3px 0px;
    color: #999999;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div p i{
    font-size: 20px;
    margin-left: 10px;

}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div .Customer_Reviews_Short_list {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    position: absolute;
    list-style-type: none;
    padding: 0px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    z-index: 1;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div:hover .Customer_Reviews_Short_list {
    max-height: 500px !important;
    opacity: 1 !important;
    transition: max-height 0.55s ease-in,  opacity 0.05s ease-in, !important;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div .Customer_Reviews_Short_list li{
    border-bottom: 1px solid #cdcdcd75;
    text-align: center;
    font-size: 14px;
    padding: 3px 0px;
    color: #999999;
}
.Reviews .Customer_Reviews .Customer_Reviews_Header .Customer_Reviews_Short_Div .Customer_Reviews_Short_list li:hover{
    color: #ff981a;
}

.Reviews .Customer_Reviews .Customer_Reviews_List {
    margin-top: 20px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item {
    position: relative;
    width: 100%;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Customer_Info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Customer_Info p {
    margin: 0px;
    font-size: 15px;
    font-weight: 700;
    color: #616161;
    margin-right: 10px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Customer_Info span {
    color: #999999ad;
    font-size: 13px;
    font-weight: 600;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Rating_Info {
    display: flex;
    margin-left: 15px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Rating_Info .Rating_Count {
    color: #616161;
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Rating_Info .Stars_Group_3 i {
    color: #999999;
    font-size: 21px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Rating_Info .Stars_Group_3 i.colored {
    color: #ff981b;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Review_Text {
    margin-left: 15px;
    margin-top: -5px;
}
.Reviews .Customer_Reviews_List .Customer_Reviews_Item .Review_Text p{
    font-size: 14px;
    color: #999999;
}



.Tab_Contents_3{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
}
.Tab_Contents_3 h5{
    font-size: 18px;
    color: #484848;
}
.Tab_Contents_3 .Gmap_Section .Agm_Map{
    border: 1px solid #484848;
}
.Tab_Contents_3 .Gmap_Section agm-map{
    height: 250px;
}
.Tab_Contents_3 .Contact_Section{
    margin-top: 20px;
}
.Tab_Contents_3 .Contact_Section h5{
    font-size: 18px;
    color: #484848;
}
.Tab_Contents_3 .Contact_Section .Address_Section{
    display: flex;
}
.Tab_Contents_3 .Contact_Section .Address_Section i{
    margin-right: 5px;
    color: #ff981b;
}
.Tab_Contents_3 .Contact_Section .Address_Section p{
    font-size: 14px;
    color: #999999;
    font-weight: 600;
} 
.Tab_Contents_3 .Contact_Section .Mobile{
    display: flex;
} 
.Tab_Contents_3 .Contact_Section .Mobile i{
    margin-right: 5px;
    color: #ff981b;
} 
.Tab_Contents_3 .Contact_Section .Mobile p{
    color: #999999;
    font-weight: 600;
    font-size: 14px;
} 
.Tab_Contents_3 .Contact_Section .email{
    display: flex;
} 
.Tab_Contents_3 .Contact_Section .email i{
    margin-right: 5px;
    color: #ff981b;
} 
.Tab_Contents_3 .Contact_Section .email p{
    color: #999999;
    font-weight: 600;
    font-size: 14px;
} 
.Tab_Contents_3 .Contact_Section .website{
    display: flex;
} 
.Tab_Contents_3 .Contact_Section .website i{
    margin-right: 5px;
    color: #ff981b;
} 
.Tab_Contents_3 .Contact_Section .website p{
    color: #999999;
    font-weight: 600;
    font-size: 14px;
} 

.Tab_Contents_3 .Opening_Hours{
    margin-top: 20px;
}
.Tab_Contents_3 .Opening_Hours h5{
    font-size: 18px;
    color: #484848;
}
.Tab_Contents_3 .Opening_Hours .Opening_Hours_List{
    padding: 0;
    list-style-type: none;
    padding-left: 15px;
}
.Tab_Contents_3 .Opening_Hours .Opening_Hours_List li{
    color: #999999;
    font-size: 14px;
    padding: 3px 0px;
}
.Tab_Contents_3 .Opening_Hours .Opening_Hours_List li span{
    color: #484848;
    width: 90px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}








.Tab_Contents_4{
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 20px;
}
.Tab_Contents_4 h5{
    font-size: 20px;
    color: #484848;
}
.Tab_Contents_4 .Orders_History_Header {
    display: table;
    width: 100%;
}
.Tab_Contents_4 .Orders_History_Header h5 {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: #484848;
}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div {
    vertical-align: middle;
    display: table-cell;
    width: 180px;
    float: right;
    position: relative;
    cursor: pointer;
}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div p {
    margin: 0px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    padding: 3px 0px;
    color: #999999;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div p i{
    font-size: 20px;
    margin-left: 10px;

}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div .Orders_History_Short_list {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    position: absolute;
    list-style-type: none;
    padding: 0px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    z-index: 1;
}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div:hover .Orders_History_Short_list {
    max-height: 500px !important;
    opacity: 1 !important;
    transition: max-height 0.55s ease-in,  opacity 0.05s ease-in, !important;

}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div .Orders_History_Short_list li{
    border-bottom: 1px solid #cdcdcd75;
    text-align: center;
    font-size: 14px;
    padding: 3px 0px;
    color: #999999;
}
.Tab_Contents_4 .Orders_History_Header .Orders_History_Short_Div .Orders_History_Short_list li:hover{
    color: #ff981a;
}


.Tab_Contents_4 .Orders_List{
    list-style-type: none;
    padding: 0px;
}
.Tab_Contents_4 .Orders_List .Orders_Item{
    display: inline-flex;
    border-bottom: 1px solid #ebedf3;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Image_Section{
    display: inline-block;
    width: 85px;
    height: 85px;
    vertical-align: top;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Image_Section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info{
    padding: 0px 10px;
    width: calc(100% - 180px);
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Item_Name{
    font-weight: 700;
    margin: 0px;
    color: #484848;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Item_Details{
    margin: 0px;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0.4px;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Order_Info{
    margin: 5px 0px 0px 0px;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Order_Info .Price{
    font-weight: 700;
    color: #484848;
    padding-right: 10px;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Order_Info .View_btn{
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    background-color: #484848;
    padding: 3px 8px 5px 8px;
    border-radius: 20px;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Order_Info .View_btn.Completed{
    background-color: green;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Order_Info .View_btn.Processing{
    background-color: #00adff;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Info .Order_Info .View_btn.Canceled{
    background-color: red;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Status{
    text-align: center;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Status .Status_btn{
    font-size: 14px;
    border: 1px solid #ff981b;
    color: #ff981b;
    font-weight: 500;
    padding: 2px 5px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    display: block;
    cursor: pointer;
}

.Tab_Contents_4 .Orders_List .Orders_Item .Item_Status span.Reorder {
    position: absolute;
    right: 15px;
    color: #fd6a03;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    bottom: 25px;
    letter-spacing: 0.4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.Tab_Contents_4 .Orders_List .Orders_Item .Item_Status span.Reorder i{
    font-size: 15px;
    margin-right: 3px;
}




















.Order_Section {
    background-color: #fff;
    padding: 20px;
    margin: 0 0 30px;
}
.Order_Section h6 {
    align-items: center;
    margin: 0 0 10px;
    color: #484848;
    border-bottom: 1px solid #ebedf3;
    padding: 0 0 10px;
    display: flex;
}
.Order_Section h6 i {
    float: left;
    margin: 3px 8px 0 0;
}
.Order_Section .Order_Discount_Info {
    background-color: #f1f3f8;
    color: #999ba3;
    font-size: 12px;
    display: block;
    line-height: 16px;
    padding: 12px;
    margin: 0 0 12px;
}
.Order_Section .Order_List {
    border-bottom: 1px solid #ebedf3;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.Order_Section .Order_List li {
    margin: 0 0 10px;
    line-height: 20px;
    color: #2f313a;
    font-size: 12px;
    position: relative;
}
.Order_Section .Order_List > li {
    border-bottom: 1px solid #ebedf3;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.Order_Section .Order_List > li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.Order_Section .Order_List .Order_Info {
    font-size: 12px;
    color: #999ba3;
    margin: 0px;
}
.Order_Section .Order_List .Order_Info i{
    position:  absolute;
    right: 0px;
    top: 5px;
    font-size: 11px;
    cursor:  pointer;
}
.Order_Section .Order_List a {
    color: #2f313a;
    display: inline-block;
    max-width: 65%;
}
.Order_Section .Order_List span{
    float: right;
    font-weight: 600;
    margin-right: 15px;
}
.Order_Section .SubTotal_Section {
    margin: 0 0 12px;
}
.Order_Section .SubTotal_Section ul {
    margin: 0 0 20px;
}
.Order_Section .SubTotal_Section li {
    font-size: 12px;
    line-height: normal;
    margin: 0 0 10px;
    list-style: none;
}
.Order_Section .SubTotal_Section li .price {
    color: #2f313a;
    float: right;
}
.Order_Section .Total {
    background-color: #f1f3f8;
    margin: 0 0 12px;
    font-size: 12px;
    color: #2f313a;
    padding: 10px 15px;
    line-height: normal;
}
.Order_Section .Total .price {
    float: right;
    font-size: 14px;
    color: #2f313a;
    font-weight: 700;
}
.Order_Section .Go_Btn{
    background-color: #c33332;
    border: none;
    display: block;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    padding: 8px 10px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    cursor: pointer;
}