<div class="Header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="Header_Left">
          <img [routerLink]="['/']" class="Logo" src="assets/Images/basic/E-commLogo.png" alt="" >
        </div>
      </div>
      <div class="col-sm-5">
        <div class="search_Section">
          <input type="text" placeholder="Search">
          <i class="material-icons"> search </i>
        </div>
      </div>
      <div class="col-sm-3">
        <ng-container *ngIf="Active_Page !== 'User_View'">
          <div class="Header_Right">
            <p class="User_Button" (click)="openModal(template)"> Login / Register</p>
          </div>
        </ng-container>
        <ng-container *ngIf="Active_Page === 'User_View'">
          <div class="Header_Right Logged_In">
            <img src="assets/Images/basic/photo.png" alt="">
            <p> User Name </p>
          </div>
        </ng-container>
      </div>
  </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> Login to Your Account </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="Input_Box">
      <i class="material-icons">person</i>
      <input type="text" placeholder="User Name">
    </div>
    <br>
    <div class="Input_Box">
      <i class="material-icons">lock</i>
      <input type="password" placeholder="Password">
    </div>
    <p class="Forgot_pwd"> Forgot Password? </p>
    <p [routerLink]="['/User_View']"  (click)="modalRef.hide()" class="Submit_Btn"> LOG IN </p>
    <p class="Goto_Another"> New Here? <span (click)="modalRef.hide(); openModal(Registertemplate)" > Register </span> </p>
    <h6 class="Login_with">
      <span>Login With</span>
    </h6>
    <div class="Social_Logins">
      <div class="Facebook"><img src="assets/Images/basic/fb.png" alt=""></div>
      <div class="Twitter"><img src="assets/Images/basic/twitter.png" alt=""></div>
      <div class="Google"><img src="assets/Images/basic/google.png" alt=""></div>
    </div>
  </div>
</ng-template>



<ng-template #Registertemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left"> Register New Account </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="Input_Box">
        <i class="material-icons">person</i>
        <input type="text" placeholder="User Name">
      </div>
      <br>
      <div class="Input_Box">
        <i class="material-icons">account_box</i>
        <input type="text" placeholder="Display Name">
      </div>
      <br>
      <div class="Input_Box">
        <i class="material-icons">call</i>
        <input type="text" placeholder="Mobile Number">
      </div>
      <br>
      <div class="Input_Box">
        <i class="material-icons">mail</i>
        <input type="email" placeholder="Email">
      </div>

      <p class="Note"> <span> Note:</span> Please enter your correct email and we will send you a password on that email. </p>
      <p [routerLink]="['/User_View']"  (click)="modalRef.hide()" class="Submit_Btn"> SUBMIT </p>
      <p class="Goto_Another"> Already have an account? <span (click)="modalRef.hide(); openModal(template)"> Login here </span> </p>
      <h6 class="Login_with">
        <span>Login With</span>
      </h6>
      <div class="Social_Logins">
        <div class="Facebook"><img src="assets/Images/basic/fb.png" alt=""></div>
        <div class="Twitter"><img src="assets/Images/basic/twitter.png" alt=""></div>
        <div class="Google"><img src="assets/Images/basic/google.png" alt=""></div>
      </div>
    </div>
  </ng-template>














  <!-- <div class="Dropdown_1">
      <P> <i class="material-icons">fastfood</i> <span> Feel Like Eating </span> <i class="material-icons">arrow_drop_down</i> </P>
      <ul class="Dropdown_1_List">
        <li> <div class="List_Item_Div"> <p>Apple Juice</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>BB.Q</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Beef Roast</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Carrot Juice</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Cheese Burger</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Chicken Roast</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Chines Soup</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Cold Coffee</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Cold Drink</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Cupcake</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Doughnut</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Drum Stick</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Egg Fry</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Fish Fry</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Fresh Juice</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Hot Dogs</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Ice Cream</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Magi</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Noodles</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Pastry</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Pizza</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Potato Fries</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Prawns</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Sham pane</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Shawarma</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Soda water</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Stakes</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Steam Roast</p> </div> </li>
        <li> <div class="List_Item_Div"> <p>Tea</p> </div> </li>
      </ul>
    </div> -->