<div class="Header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="Header_Left">
          <img class="Logo" src="assets/Images/basic/E-commLogo.png" alt="" >
          <div class="Dropdown_1">
            <P> <i class="material-icons">fastfood</i> <span> Feel Like Eating </span> <i class="material-icons">arrow_drop_down</i> </P>
            <ul class="Dropdown_1_List">
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-05-1.png"> --> <p>Apple Juice</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-19-1.png"> --> <p>BB.Q</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-22-1.png"> --> <p>Beef Roast</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-10-1.png"> --> <p>Carrot Juice</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-03-1.png"> --> <p>Cheese Burger</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-07-1.png"> --> <p>Chicken Roast</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-01-1.png"> --> <p>Chines Soup</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-18-1.png"> --> <p>Cold Coffee</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-23-1.png"> --> <p>Cold Drink</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-28-1.png"> --> <p>Cupcake</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-21-1.png"> --> <p>Doughnut</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-25-1.png"> --> <p>Drum Stick</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-11-1.png"> --> <p>Egg Fry</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-12-1.png"> --> <p>Fish Fry</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-13-1.png"> --> <p>Fresh Juice</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-30-1.png"> --> <p>Hot Dogs</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-26-1.png"> --> <p>Ice Cream</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-15-1.png"> --> <p>Magi</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-09-1.png"> --> <p>Noodles</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-14-1.png"> --> <p>Pastry</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-29-1.png"> --> <p>Pizza</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-06-1.png"> --> <p>Potato Fries</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-24-1.png"> --> <p>Prawns</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-17-1.png"> --> <p>Sham pane</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-27-1.png"> --> <p>Shawarma</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-04-1.png"> --> <p>Soda water</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-16-1.png"> --> <p>Stakes</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-22-1.png"> --> <p>Steam Roast</p> </div> </li>
              <li> <div class="List_Item_Div"> <!-- <img alt="" src="assets/Images/demo/food-icon/food-icon-02-1.png"> --> <p>Tea</p> </div> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="Header_Right">
          <p class="User_Button" (click)="openModal(template)"> Login / Register</p>
          <p class="Vendor_Button"> Register Restaurant </p>
        </div>
      </div>
  </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> Login to Your Account </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="Input_Box">
      <i class="material-icons">person</i>
      <input type="text" placeholder="User Name">
    </div>
    <br>
    <div class="Input_Box">
      <i class="material-icons">lock</i>
      <input type="password" placeholder="Password">
    </div>
    <p class="Forgot_pwd"> Forgot Password? </p>
    <p class="Submit_Btn"> LOG IN </p>
    <p class="Goto_Another"> New Here? <span (click)="modalRef.hide(); openModal(Registertemplate)" > Register </span> </p>
    <h6 class="Login_with">
      <span>Login With</span>
    </h6>
    <div class="Social_Logins">
      <div class="Facebook"><img src="assets/Images/basic/fb.png" alt=""></div>
      <div class="Twitter"><img src="assets/Images/basic/twitter.png" alt=""></div>
      <div class="Google"><img src="assets/Images/basic/google.png" alt=""></div>
    </div>
  </div>
</ng-template>



<ng-template #Registertemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left"> Register New Account </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="Input_Box">
        <i class="material-icons">person</i>
        <input type="text" placeholder="User Name">
      </div>
      <br>
      <div class="Input_Box">
        <i class="material-icons">account_box</i>
        <input type="text" placeholder="Display Name">
      </div>
      <br>
      <div class="Input_Box">
        <i class="material-icons">mail</i>
        <input type="email" placeholder="Email">
      </div>

      <p class="Note"> <span> Note:</span> Please enter your correct email and we will send you a password on that email. </p>
      <p class="Submit_Btn"> SUBMIT </p>
      <p class="Goto_Another"> Already have an account? <span (click)="modalRef.hide(); openModal(template)"> Login here </span> </p>
      <h6 class="Login_with">
        <span>Login With</span>
      </h6>
      <div class="Social_Logins">
        <div class="Facebook"><img src="assets/Images/basic/fb.png" alt=""></div>
        <div class="Twitter"><img src="assets/Images/basic/twitter.png" alt=""></div>
        <div class="Google"><img src="assets/Images/basic/google.png" alt=""></div>
      </div>
    </div>
  </ng-template>