<app-main-header></app-main-header>

<div class="Landing_Map">
  <agm-map [latitude]="lat" [zoom]="16" [longitude]="lng" [styles]= "styles">
    <agm-circle [latitude]="circleLat" [longitude]="circleLng" [radius]="100" [fillColor]="'#FA601F'" ></agm-circle>
    <agm-circle [latitude]="circleLat" [longitude]="circleLng" [radius]="250" [fillColor]="'#FA601F'"></agm-circle>
    <agm-circle [latitude]="circleLat" [longitude]="circleLng" [radius]="400" [fillColor]="'#FA601F'"></agm-circle>

    <agm-marker [latitude]="circleLat" [longitude]="circleLng" [openInfoWindow]="true" [markerDraggable]="true" (dragEnd)="updateCircle($event)" >
      <agm-info-window [disableAutoPan]="true">
            <div class="marker_info">
              <p class="user_location" style="color: #969696; font-weight: 500;"> We will find your location,<br> Else to Drag this Pointer to your Exact Location </p>
            </div>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="lat + .003" [longitude]="lng" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span></p>
          </div>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="lat" [longitude]="lng + .003" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span></p>
          </div>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="lat + .002" [longitude]="lng + .002" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span></p>
          </div>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="lat - .002" [longitude]="lng - .002" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span> </p>
          </div>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="lat - .003" [longitude]="lng - .005" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span> </p>
          </div>
      </agm-info-window>
    </agm-marker>

    <agm-marker [latitude]="lat + .001" [longitude]="lng - .006" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span> </p>
          </div>
      </agm-info-window>
    </agm-marker>


    <agm-marker [latitude]="lat + .002" [longitude]="lng - .004" >
      <agm-info-window [disableAutoPan]="true">
          <div class="marker_info">
            <p class="loc_name"> Store Name <span> ( Location of the Store )</span> </p>
            <p class="order_time"> Order time ends in  <span> 45 min </span>  </p>
            <p class="deliver_time"> Delivered at <span> 4 pm </span>  </p>
            <p class="distance"> <span> 300 meter </span> by walk <span> 5 min </span> <span class="view_btn" [routerLink]="['/Restaurant_View']"> View </span> </p>
          </div>
      </agm-info-window>
    </agm-marker>

  </agm-map>

  <!-- <div class="Action_Section" style="right: 105px;">
    <div class="Filter_Icon" [routerLink]="['/Restaurant_List']">
      <i class="material-icons"> list_alt </i>
    </div>
  </div> -->

  <div class="Action_Section">
    <div class="Filter_Icon" (click)="FilterRightSection = true"  > <!--  (click)="FilterSideBar.toggle($event)" -->
      <i class="material-icons"> filter_list </i>
    </div>
  </div>

  <div class="Footer_Section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="Links">
            <p class="link"> About Us </p>
            <p class="link"> Terms </p>
            <p class="link"> Privacy </p>
            <p class="link"> Contact </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="Partners_btn">
            <p>
              <span> Partner with Us </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-sidebar [(visible)]="FilterRightSection" position="right" [baseZIndex]="10000">
  <div class="Filter_Section">
    <div class="Filters_List" style="margin-bottom: 50px;">
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">restaurant_menu</i> Cuisines </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> Indian </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Italian </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> French </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Mexican </span> </mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">fastfood</i> Foods </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> Apple Juice </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Beef Roast </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Cold Coffee</span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Cold Drink </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Noodles </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Pizza </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Steam Roast </span> </mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">timelapse</i> Cutoff Time </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> 06.00 am to  08.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 08.00 am to  10.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 10.00 am to  12.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 12.00 pm to  02.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 02.00 pm to  04.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 04.00 pm to  06.00pm  </span> </mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">access_time</i> Pickup Time </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> 06.00 am to  08.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 08.00 am to  10.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 10.00 am to  12.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 12.00 pm to  02.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 02.00 pm to  04.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 04.00 pm to  06.00pm  </span> </mat-checkbox>
          </li>
        </ul>
      </div>
    </div>
    <div class="Apply_Filter" [routerLink]="['/Restaurant_List']">
      <span> Apply Filer </span>
    </div>
  </div>
</p-sidebar>


<!-- <p-overlayPanel #FilterSideBar>
  <div class="Filter_Section">
    <div class="Filters_List">
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">restaurant_menu</i> Cuisines </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> Indian </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Italian </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> French </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Mexican </span> </mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">fastfood</i> Foods </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> Apple Juice </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Beef Roast </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Cold Coffee</span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Cold Drink </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Noodles </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Pizza </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> Steam Roast </span> </mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">timelapse</i> Cutoff Time </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> 06.00 am to  08.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 08.00 am to  10.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 10.00 am to  12.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 12.00 pm to  02.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 02.00 pm to  04.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 04.00 pm to  06.00pm  </span> </mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="Filter_Category">
        <div class="Filter_Category_Header">
          <h6> <i class="material-icons">access_time</i> Pickup Time </h6>
        </div>
        <ul class="Filter_Category_List">
          <li class="Filter_Category_Item">
              <mat-checkbox class="Style_1"> <span class="Text_1"> 06.00 am to  08.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 08.00 am to  10.00am </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 10.00 am to  12.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 12.00 pm to  02.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 02.00 pm to  04.00pm </span> </mat-checkbox>
          </li>
          <li class="Filter_Category_Item">
            <mat-checkbox class="Style_1"> <span class="Text_1"> 04.00 pm to  06.00pm  </span> </mat-checkbox>
          </li>
        </ul>
      </div>
    </div>
  </div>
</p-overlayPanel> -->