
.Landing_Map{
    height: 100%;
    width: 100%;
    position: fixed;
    border-top: 1px solid #e0e0e0;
}
.Landing_Map agm-map{
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
}

.marker_info{
    padding: 5px 0px 0px 10px;
}
.user_location{
    text-align: center;
    margin: 0px 5px 5px 0px;
    font-size: 16px;
}
.loc_name{
    margin-bottom: 5px;
    font-size: 14px;
    color: #fd6a03;
    font-weight: 600;
}
.loc_name > span{
    color: #9e9e9e;
    font-weight: 400;
    font-size: 13px;
}
.order_time{
    margin-bottom: 5px;
    font-size: 13px;
}
.order_time > span {
    color: #fd6a03;
    font-weight: 600;
}
.deliver_time {
    margin-bottom: 5px;
    font-size: 13px;
}
.deliver_time > span {
    color: #fd6a03;
    font-weight: 600;
}
.distance {
    margin-bottom: 5px;
    font-size: 13px;
}
.distance > span {
    color: #fd6a03;
    font-weight: 600;
}
.distance > span.view_btn {
    float: right;
    font-size: 15px;
    background-color: #ffffff;
    padding: 3px 15px;
    border-radius: 2px;
    border: 1px solid #fd6a03;
    cursor: pointer;
    margin-top: -10px;
    outline: none;
}




.Action_Section {
    position: absolute;
    right: 50px;
    bottom: 120px;
}
.Action_Section .Filter_Icon {
    background-color: #fd6a03;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1px;
    outline: none;
}
.Action_Section .Filter_Icon img{
    width: 40px;
    margin: 8px;
}
.Action_Section .Filter_Icon i{
    font-size: 32px;
    margin-left: 8px;
}

.Action_Section.Left{
    position: absolute;
    left: 50px;
    bottom: 120px;
    width: 50%;
}


.Footer_Section {
    position: absolute;
    right: 0px;
    bottom: 60px;
    width: 100%;
    background-color: #7d7d7de3;
    height: 45px;
}
.Footer_Section .Links {
    align-items: center;
    display: inline-flex;
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.Footer_Section .Links .link {
    width: 20%;
    height: 45px;
    margin: 0px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.Footer_Section .Links .link:hover {
    color: #fd6a03;
}
.Footer_Section .Partners_btn p {
    text-align: right;
    margin: 0px;
    line-height: 45px;
}
.Footer_Section .Partners_btn p span {
    padding: 7px 20px;
    background-color: #fd6a03;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 0.4px;
}


.Filter_Section{
    max-height: 100%;
    overflow-x: auto;
    min-width: 230px;
    padding: 0px 10px;
}.Filter_Section::-webkit-scrollbar {
    width: 5px;
}
.Filter_Section::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.Filter_Section::-webkit-scrollbar-thumb {
    background: #888; 
}
.Filter_Section::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.Filter_Section ul{
    list-style:none;
    padding: 0px;
}
.Filter_Section .Filter_Category .Filter_Category_Header {
    display: block;
    padding: 9px 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}
.Filter_Section .Filter_Category .Filter_Category_Header h6{
    display: flex;
    align-items: center;
    color: #484848;
    margin: 0px;
}
.Filter_Section .Filter_Category .Filter_Category_Header h6 i{
    margin-right: 10px;
    color: #484848;
}
.Filter_Section .Filter_Category .Filter_Category_List{
    padding-left: 10px;
}
.Filter_Section .Filter_Category .Filter_Category_List .Filter_Category_Item .Text_1 {
    font-size: 14px;
    color: #999999;
}

.Filter_Section .Filter_Category .Price_Section{
    padding: 0px 10px;
}
.Filter_Section .Filter_Category .Price_Section h6{
    text-align: center;
    color: #999;
    font-weight: 500;
}
.Apply_Filter {
   position: fixed;
   background-color: #fd6a03;
   top: calc(100% - 50px);
   width: 250px;
   line-height: 40px;
   text-align: center;
   font-weight: 600;
   color: #ffffff;
   letter-spacing: 0.5px;
   cursor: pointer;
}