<app-main-header></app-main-header>

<div class="User_View">
  <!-- User Basic Info Background Image Section -->
  <div class="User_Info_Image_Section" style=" background: url(assets/Images/demo/photo01.jpg) no-repeat scroll 0 0 / cover;">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row">
        <!-- Column Start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="User_Info_Detail">
            <div class="User_Info_Detail_Left">
              <div class="Img_Section">
                <figure>
                  <img src="assets/Images/basic/photo.png" alt="">
                </figure>
              </div>
              <div class="Text_Section">
                <h3 class="Name">User Display Name</h3>
                <p class="call">
                  <i class="material-icons">call</i>
                  <span> +91 9876543210 </span>
                </p>
                <p class="email">
                  <i class="material-icons">mail</i>
                  <span> sample@mail.com </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Column End -->
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>

 <!-- User Full Info Section -->
 <div class="container User_Full_Info_Section">
  <div class="row">
    <div class="col-sm-3">
      <!-- User Full Info Left Section -->
      <div class="User_Info_Left">
        <ul class="User_Info_Left_Tabs">
          <li class="active">
              <i class="material-icons">add_shopping_cart</i> 
              <span>My Orders</span>
          </li>
          <li>
              <i class="material-icons">favorite_border</i> 
              <span>My Favorites </span>
          </li>
          <li>
              <i class="material-icons">message</i> 
              <span>My Reviews</span>
          </li>
          <li>
              <i class="material-icons">credit_card</i> 
              <span>Saved Cards</span>
          </li>
          <li>
              <i class="material-icons">location_on</i> 
              <span>Saved Address</span>
          </li>
          <li>
              <i class="material-icons">vpn_lock</i> 
              <span>Privacy Settings</span>
          </li>
          <li>
              <i class="material-icons">settings</i> 
              <span>Account Settings</span>
          </li>
          <li>
              <i class="material-icons">power_settings_new</i> 
              <span>Log Out</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <!-- User Full Info Right Section -->
      <div class="User_Info_Right">
        <div class="Tabs">
          <div class="Tab_Content_1">
            <div class="Header_Section">
              <h5> My Orders</h5>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="Order_Item" style="height: 241px;">
                  <div class="Store_Info">
                    <div class="Store_Img_Section">
                      <figure>
                          <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/listing-logo18.png" alt="Restaurant Logo">
                      </figure>
                    </div>
                    <div class="Text_Section">
                      <h6>Restaurant Demo</h6>
                      <p>Vegetarian 12" Deep Pan</p>
                      <span class="price">$ 31.40</span>
                      <span class="Reorder"> <i class="material-icons">open_in_new</i> Reorder</span>
                    </div>
                  </div>
                  <div class="Order_Address">
                    <span>Pickup in <span> 10 Minutes </span>  </span>
                    <span>Ganapathy Puthur, Coimbatore, Tamilnadu, India.</span>
                  </div>
                  <span class="Order_Time">May 22,2018
                    <span>12:02 PM</span>
                  </span>
                  <div class="Order_Buttons">
                    <p>Order Detail</p>
                    <span class="Order_Status Processing">processing</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="Order_Item" style="height: 241px;">
                  <div class="Store_Info">
                    <div class="Store_Img_Section">
                      <figure>
                          <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/listing-logo18.png" alt="Restaurant Logo">
                      </figure>
                    </div>
                    <div class="Text_Section">
                      <h6>Restaurant Demo</h6>
                      <p>Vegetarian 12" Deep Pan</p>
                      <span class="price">$ 31.40</span>
                      <span class="Reorder"> <i class="material-icons">open_in_new</i> Reorder</span>
                    </div>
                  </div>
                  <div class="Order_Address">
                    <span> Delivered at <span> 10 Minutes </span> </span>
                    <span>Ganapathy Puthur, Coimbatore, Tamilnadu, India.</span>
                  </div>
                  <span class="Order_Time">May 22,2018
                    <span>12:02 PM</span>
                  </span>
                  <div class="Order_Buttons">
                    <p>Order Detail</p>
                    <span class="Order_Status Completed">Completed</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="Order_Item" style="height: 241px;">
                  <div class="Store_Info">
                    <div class="Store_Img_Section">
                      <figure>
                          <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/listing-logo18.png" alt="Restaurant Logo">
                      </figure>
                    </div>
                    <div class="Text_Section">
                      <h6>Restaurant Demo</h6>
                      <p>Vegetarian 12" Deep Pan</p>
                      <span class="price">$ 31.40</span>
                      <span class="Reorder">  <i class="material-icons">open_in_new</i> Reorder</span>
                    </div>
                  </div>
                  <div class="Order_Address">
                    <span> --- </span>
                    <span>Ganapathy Puthur, Coimbatore, Tamilnadu, India.</span>
                  </div>
                  <span class="Order_Time">May 22,2018
                    <span>12:02 PM</span>
                  </span>
                  <div class="Order_Buttons">
                    <p>Order Detail</p>
                    <span class="Order_Status Canceled">Canceled</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="Order_Item" style="height: 241px;">
                  <div class="Store_Info">
                    <div class="Store_Img_Section">
                      <figure>
                          <img src="http://foodbakery.chimpgroup.com/wp-content/uploads/listing-logo18.png" alt="Restaurant Logo">
                      </figure>
                    </div>
                    <div class="Text_Section">
                      <h6>Restaurant Demo</h6>
                      <p>Vegetarian 12" Deep Pan</p>
                      <span class="price">$ 31.40</span>
                      <span class="Reorder">  <i class="material-icons">open_in_new</i> Reorder</span>
                    </div>
                  </div>
                  <div class="Order_Address">
                    <span>Pickup in <span> 10 Minutes </span> </span>
                    <span>Ganapathy Puthur, Coimbatore, Tamilnadu, India.</span>
                  </div>
                  <span class="Order_Time">May 22,2018
                    <span>12:02 PM</span>
                  </span>
                  <div class="Order_Buttons">
                    <p>Order Detail</p>
                    <span class="Order_Status Processing" >processing</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>